@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* definindo variável para largura da borda no cabeçalho */
.cabecalho {
  --border-width: 5px;
}

/* usando variável definida */
.cabecalho-menu {
  list-style: none;
  border: var(--border-width) solid #42aaff;
}

.cabecalho-menu > li {
  border: var(--border-width) solid #ff42c0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  padding: 2rem;
  line-height: 1.6;
  background: linear-gradient(68.15deg, #27232f 16.62%, #528e86 85.61%);
}

h1 {
  font-family: 'Sarala', sans-serif;
  margin-bottom: 45px;
  color: #8e7652;
  line-height: 1.1;
  text-shadow: 0.05em 0.05em 0 #000000b3;;
}

h2, h3 {
  font-family: 'Sarala', sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.cartao {
  padding: 1rem;
  background: hsl(125 50% 50%);
}


.colunas {
  display: flex;
  gap: 2rem;
  border: 10px solid salmon;
}

.colunas > * {
  flex: 1;
}
